<!doctype html>
<link rel = "stylesheet" href = "//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<link href='static/vendor/fontawesome-free/css/all.min.css' rel="stylesheet" type="text/css">
<link href='static/css/sb-admin.min.css' rel="stylesheet" type="text/css">
<div id='middle_buttons' class=' d-flex flex-row'>
  <div id='movies_btn' class='p-3'>
    <input class="btn btn-primary" type="button" value="Movies">
  </div>
  <div id='search_bar' class="input-group-prepend p-3">
    <input type="text" class="form-control" placeholder="Search a movies or a TV show" style="width:300px">
  </div>
  <div id='series_btn' class='p-3'>
    <input class="btn btn-primary" type="button" value="Series">
  </div>
</div>

<script>
$(document).ready(function() {
  $('#movies_btn').click(function() {
    window.location.href="{{ url_for('movies') }}"
  })
})
</script>