{% extends 'base_template.html' %}

{% block content %}
<div class="container">
    <span id="rateMe3"></span>
</div>
<div class='starrr'></div>
<style>
 
 .starrr {
  display: inline-block; }
  .starrr a {
    font-size: 16px;
    padding: 0 1px;
    height:20px;
    width:20px;
    cursor: pointer;
    color: #FFD119;
    text-decoration: none; }
</style>
{% endblock content %}
{% block script %}
  <!-- rating.js file -->
  <script src="../static/js/addons/rating.js"></script>
<script>

  $(document).ready(function() {
    $('.starrr').starrr()
  });
</script>
{% endblock script %}
