{% extends 'base_template.html'%}

{% block content %}
<div class="row">
  <img class="ml-auto mr-auto" src="static/logo/MBM_global.png" style="max-width:100%;height:auto;">
</div>
<div class="row">
  <h3 class="ml-auto mr-auto" style="font-family:verdana">The most reliable Movies & TV Shows database</h3>
</div>
<div class="row" style="height:2vh"></div>

{% if session['username'] %}
<div class="row">
  <p class="ml-auto mr-auto" style="text-align:center;font-family:garamond">Hi {{ session['username'] }}! You can search here for any movie or tv show.<br>You can also jump straight to one of these categories!</p>
</div>
<div class="row justify-content-around">
  <a class="btn btn-lg btn-dark" href="{{ url_for('movies') }}">Movies</a>
  <form class="form-inline" style="max-width:35%;" onsubmit="searchInDB(this);return false">
    <input style="max-width:80%;" class="form-control" placeholder="Search here..." name="search">
    &nbsp;&nbsp;
    <button class="btn btn-sm btn-dark btn-round" type="submit">Search !</button>
  </form>
  <a class="btn btn-lg btn-dark" href="{{ url_for('tvshows') }}">TV Shows</a>
</div>
{% else %}
<div class="row justify-content-center">
  <div class="col-6">
    <div class="row">
      <a class="btn btn-lg btn-dark ml-auto mr-auto" href="#loginModal" data-toggle="modal" data-target="#loginModal">Log in</a>
      <a class="btn btn-lg btn-dark ml-auto mr-auto" href="#signupModal" data-toggle="modal" data-target="#signupModal">Sign up</a>
    </div>
  </div>
</div>
{% endif %}
{% endblock content %}

{% block script %}
<script>
function searchInDB (form) {
  var query = form['search'].value
  $.ajax({
    url: `{{ url_for('search_in_db') }}`,
    type: 'POST',
    contentType: 'application/json;charset=UTF-8',
    data: JSON.stringify({query: query}),
    success: response => {
      if (response === 'not found') {
        $.alert({
          icon: 'fa fa-times',
          title: 'Oops..',
          content: 'We did not manage to find this movie / tv show.\nYou can try to write it well or just look into the movies or tv shows pages !'
        })
      } else {
        $.confirm({
          icon: 'fa fa-check',
          title: 'Found it!',
          content: 'We found the movie / tv show you requested :)\nClick on OK to jump to its description.',
          onAction: function (btnName) {
            if (btnName === 'ok') {
              var foundUrl = "{{ url_for('movie', movie_id='0') }}".slice(0, -1) + response
              return location.replace(foundUrl)
            }
          }
        })
      }
    },
    error: xhr => {
        alert(xhr.responseText.split('\n')[1])
    }
  })
}
</script>
{% endblock script %}
