{% extends 'base_template.html'%}

{% block content %}
<div class="row">
  <img class="ml-auto mr-auto" src="static/logo/MBM_global.png" style="max-width:100%;height:auto;">
</div>
<div class="row">
  <h3 class="ml-auto mr-auto" style="font-family:verdana">The most reliable Movies & TV Shows database</h3>
</div>
<div class="row" style="height:2vh"></div>

{% if username %}
<div class="row">
  <p class="ml-auto mr-auto" style="text-align:center;font-family:garamond">Hi {{ username }}! You can search here for any movie or tv show.<br>You can also jump straight to one of these categories!</p>
</div>
<div class="row justify-content-around">
  <a class="btn btn-lg btn-dark" href="{{ url_for('movies') }}">Movies</a>
  <input style="max-width:35%;" class="form-control" placeholder="Search here...">
  <a class="btn btn-lg btn-dark" href="/tv-shows">TV Shows</a>
</div>
{% else %}
<div class="row justify-content-center">
  <div class="col-6">
    <div class="row">
      <a class="btn btn-lg btn-dark ml-auto mr-auto" href="#loginModal" data-toggle="modal" data-target="#loginModal">Log in</a>
      <a class="btn btn-lg btn-dark ml-auto mr-auto" href="#signupModal" data-toggle="modal" data-target="#signupModal">Sign up</a>
    </div>
  </div>
</div>
{% endif %}
{% endblock content %}
