<!doctype html>
{% extends 'base_template.html'%}

{% block content %}
<div class="row">
  <div class="card w-100">
    <h4 class="card-header bg-secondary">Our selection for you</h4>
    <div class="card-body">
      <div id="carousel_reco" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel_reco" data-slide-to="0" class="bg-secondary active"></li>
          <li data-target="#carousel_reco" data-slide-to="1" class="bg-secondary"></li>
          <li data-target="#carousel_reco" data-slide-to="2" class="bg-secondary"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          {% for i in range(3) %}
          <div class="carousel-item" style="height:inherit">
            <div class="row">
              {% for movie in dict_reco_movies[i*6:(i+1)*6] %}
              <div class="col-md-2">
                <div class="card h-100" style="min-height:50vh;max-height:50vh;">
                  <h5 class="card-header" style="height:18%;overflow:hidden;text-overflow:ellipsis;">{{ movie['name'] }}</h5>
                  <div class="card-body">
                    <img class="d-block w-100" src="https://image.tmdb.org/t/p/w500{{movie['poster_path']}}">
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carousel_reco" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel_reco" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>
{% for genre in genres_list %}
<div class="row">
  <div class="card w-100">
    <h4 class="card-header bg-secondary">{{ genre['verbose_name'] }}</h4>
    <div class="card-body">
      <div id="carousel{{genre['name']}}" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel{{genre['name']}}" data-slide-to="0" class="bg-secondary active"></li>
          <li data-target="#carousel{{genre['name']}}" data-slide-to="1" class="bg-secondary"></li>
          <li data-target="#carousel{{genre['name']}}" data-slide-to="2" class="bg-secondary"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          {% for i in range(3) %}
          <div class="carousel-item" style="height:inherit">
            <div class="row">
              {% for movie in movies_by_genre[genre['name']][i*6:(i+1)*6] %}
              <div class="col-md-2">
                <div class="card h-100" style="min-height:50vh;max-height:50vh;">
                  <h5 class="card-header" style="height:18%;overflow:hidden;text-overflow:ellipsis;">{{ movie['name'] }}</h5>
                  <div class="card-body">
                    <img class="d-block w-100" src="https://image.tmdb.org/t/p/w500/{{movie['poster_path']}}">
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carousel{{genre['name']}}" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel{{genre['name']}}" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock content %}

{% block script %}
<script>
$(document).ready(function() {
  $('#carousel_reco').find('.carousel-item').first().addClass('active')
  for (const genre of {{ genres_list|tojson }}) {
    $('#carousel' + genre.name).find('.carousel-item').first().addClass('active')
  }
})
</script>
{% endblock script %}
