{% extends 'base_template.html'%} {% block content %}
<div class="row">
  <img
    class="ml-auto mr-auto"
    src="static/logo/MBM_global.png"
    style="max-width:100%;height:auto;"
  />
</div>
<div class="row">
  <h3 class="ml-auto mr-auto" style="font-family:verdana">
    The most reliable Movies & TV Shows database
  </h3>
</div>
<div class="row" style="height:2vh"></div>
<div class="row">
  <h4 class="ml-auto mr-auto">
    Page not implemented yet... Come back later to find here all of your
    favorites movies and tv shows !
  </h4>
</div>
{% endblock content %}
