<!doctype html>
{% extends 'base_template.html'%}

{% block content %}
<div class="row">
    <p class="ml-auto mr-auto" style="text-align:center;font-family:garamond">Hi {{ session['username'] }}! You can search here forvany movie or tv show.<br>You can also jump straight to one of these categories!</p>
</div>
<div class="row justify-content-around">
    <a class="btn btn-lg btn-dark" href="{{ url_for('movies') }}">Movies</a>
    <input style="max-width:35%;" class="form-control" placeholder="Search here...">
    <a class="btn btn-lg btn-dark" href="/tv-shows">TV Shows</a>
</div>
{% endblock content %}
